body {
    font-family: sans-serif;
    background-color: #404040;
    color:white;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.fullscreen {
    position:absolute;
    top:0;
    width: 3em;
    background-color:white;
    margin: 4px;
}

.letter-tile {
    background-color: #ffffff;
    color: #000;
    float: left;
    padding: 15px;
    margin: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.letter-tile.selected {
    background-color: #FFEB3B;
}

.letter {
    font-size: 24px;
}

.ctrl-left {
    display: flex;
    flex: 1;
    flex-direction:column;
    justify-content: center;
}

.info {
    padding-top: 6px;
    font-size: 1.2em;
}

.info > span:first-child {
    font-size: .8em;
    margin-right: 10px;
    text-transform: uppercase;
    color: lightgray;
}

#info {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
}
#hand {
    display: block;
    width: 100%;
    flex: 1;
    flex-direction: row;
}
.ctrl-right {
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
}
.btn-play {
    padding: 20px;
    width: 100%;
    background-color: #2196F3;
}
.bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#latency {
    position: absolute;
    bottom: 0;
    margin: 0px;
    opacity: .5;
}
.dpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dpad .region {
    flex: 1;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
.region.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.region > .btn {
    margin: 8px;
}

.triangle-up {
	  width: 0;
	  height: 0;
	  border-left: 50px solid transparent;
	  border-right: 50px solid transparent;
	  border-bottom: 100px solid white;
}

.triangle-down {
	  width: 0;
	  height: 0;
	  border-left: 50px solid transparent;
	  border-right: 50px solid transparent;
	  border-top: 100px solid white;
}

.triangle-left {
	  width: 0;
	  height: 0;
	  border-top: 50px solid transparent;
	  border-right: 100px solid white;
	  border-bottom: 50px solid transparent;
}

.triangle-right {
	  width: 0;
	  height: 0;
	  border-top: 50px solid transparent;
	  border-left: 100px solid white;
	  border-bottom: 50px solid transparent;
}
