body {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
canvas {
    height: 620px;
    width: 620px;
}
.bottomleft {
    opacity: .5;
    position: absolute;
    bottom: 0;
}

.sidebar {
    width: 280px;
    height: 100%;
    /* float: left; */
    padding: 10px;
    font-size: 1.2em;
}

.table > * {
    flex: 1;
    padding: 3px;
}

.row {
    display: flex;
    flex-direction: row;
}

.player.active {
    background-color: #03a9f4;
}

.player.win {
    background-color: #4CAF50;
}

.player > .name {
    flex: 1;
}

.player > .score {
    flex: 0;
}
