<!DOCTYPE html>
<html>

<head>

  <title>Webtendo</title>

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="host.css" />

</head>

<body>
  <div id="app">
    <h1 v-if="!Object.keys(players).length">Waiting for players</h1>
    <div class="sidebar" v-else>
      <div class="table row player"
           v-bind:class="{ active: player.id == currentPlayerId }"
           v-for="player in players">
        <div>{{player.name}}</div>
        <div>{{player.score}}</div>
      </div>
      
    </div>
  </div>  
  <canvas id="canvas"></canvas>
  <div class="bottomleft">
    <div id="latency"></div>
    <div id="ip"></div>
  </div>

  <script src="../out/scrabble-host-bundle.js"></script>
</body>

</html>
