body {
    height: 100vh;
}
canvas {
    height: 100%;
    width: 100%;
}
.bottomleft {
    opacity: .5;
    position: absolute;
    bottom: 0;
}
.mute {
    background-color: white;
    display: inline-block;
    color: black;
    padding: 2px;
}