canvas {
    width: 100%;
}

.header {
    height: 4rem;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.title {
    margin: 0;
}

.meta {
    margin: 0 1rem;
}