.bigbutton {
    color:black;
    font-size: 3em;
    text-decoration: none;
    justify-content:center;
    height:100%;
    width: calc(100% - 2em);
    flex-direction:column;
    background-color:white;
    margin:1em;
    border-radius:1em;
    align-content: center;
    display:flex;
    flex:1;
    text-align: center;
}


.linkbox {
    display: flex;
    align-items: center;
    height: 50%;
    width:100%;
    justify-content:center;
}

@media (orientation: portrait) {
    .linkbox {
        flex-direction: column;   
    }
}