.bigbutton {
    font-size: 3em;
}

h1 {
    text-align: center;
    font-size: 3em;
}
a {
    font-size: 2em;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 1em;
}

.linklist {
    text-align: center;
    
    display: flex;
    flex-direction: column;
}

.linkbox {
    display: flex;
    align-items: center;
    width:100%;
    justify-content:center;
}

.icon {
    font-size: 1em;
    height: 1em;
    color: black;
}

@media (orientation: portrait) {
    .linkbox {
        flex-direction: column;   
    }
}